name: Run Integration Tests

on:
  workflow_call:
    inputs:
      workdir:
        description: Working directory
        required: false
        default: 'python'
        type: string
    secrets:
      OPENAI_API_KEY:
        required: true
      ACCOUNT_ID:
        required: true
      PRIVATE_KEY:
        required: true
    outputs: {}

permissions:
  contents: read

jobs:
  integration-tests:
    runs-on: hedera-agent-linux-medium
    env:
      WORKDIR: python
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
      E2E_LLM_PROVIDER: ${{ vars.E2E_LLM_PROVIDER }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.11'

      - name: Upgrade pip
        run: pip install --upgrade pip pytest

      - name: Install Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1.4.1
        with:
          version: 2.2.1
          virtualenvs-create: true
          virtualenvs-in-project: true
          virtualenvs-path: .venv
          installer-parallel: true

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        working-directory: ${{ inputs.workdir }}
        run: poetry install --no-interaction --no-root

      - name: Run integration tests (throttled)
        working-directory: ${{ inputs.workdir }}
        env:
          TEST_DELAY_MS: '8000'
        run: |
          source .venv/bin/activate
          pytest test/integration/
